@font-face {
  font-family: 'ProductSans Light';
  src: url(./fonts/Product-Sans/ProductSans-Light.ttf);
}
@font-face {
  font-family: 'ProductSans';
  src: url(./fonts/Product-Sans/ProductSans-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'ProductSans Light';
  list-style: none;
  /* border: 1px solid orangered; */
}

.welcome {
  z-index: 999;

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

  background-color: #fff;
  backdrop-filter: blur(10px);
}

.welcome-title {
  font-size: 4.2vw;
  color: #4285f4;
  font-family: 'ProductSans';
}
.welcome p {
  font-size: 2vmax;
  line-height: 0.8em;
}

body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h4 {
  font-size: 2vw;
}
.hidden {
  display: none;
}
.invisible {
  opacity: 0;
  transition: 700ms;
}
.slide-header {
  color: #4285f4;
  margin: 3em;
  display: flex;
  justify-content: flex-end;
}
.slide-header > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-number,
.empty-flex-col {
  flex: 1;
}
.slide-name h1,
.slide-number h1 {
  font-family: 'ProductSans';
}
.slide-name h1 {
  font-size: 3rem;
}
.slide-number h1 {
  font-size: 3rem;

  border: 0.4rem solid #4285f4;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
}
.slide-name {
  flex: 10;
}
/* //////////////// */
/* SLIDE */

.slide-container {
  font-size: 2rem;
  line-height: 1.8em;
  /* border: 1px solid orangered; */
  /* padding: 1em 18vw; */
  /* margin-bottom: 3em; */
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-content {
  padding-left: 1em;
  max-width: 55vw;
}

.slide-row p {
  color: #333;
  max-width: 25em;
}
.slide-row {
  list-style-type: disc;
  color: #4285f4;
}

/* SLIDE END */
/* //////////////// */

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  /* min-height: 10em; */
  width: 100vw;
  text-align: center;
}

.page-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3em;
  margin-bottom: 3em;
}

.page-item {
  cursor: pointer;

  color: #333;
  background-color: #ddd;

  flex: 1;
  line-height: 4em;
  transform: skewX(30deg);
}
.page-item * {
  transform: skewX(-30deg);
}
.page-item:first-child {
  padding-left: 2em;
  margin-left: -2em;
}
.page-item:last-child {
  padding-right: 2em;
  margin-right: -2em;
}

.page-item:hover {
  background-color: #3479e7;
  color: #fff;
}
.seen {
  background-color: #4285f4;
  color: #fff;
}

/* #1A4E66#E26C22#FFFFFF */

.story-nav {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
}
.story-nav > * {
  border: 1px solid red;
  width: 50vw;
  background-color: #ff08;
  opacity: 0;
  cursor: default;
}
